/* Reset some default styles for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Styles for the body element */
body {
    background-color: #d9dcd6;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0 auto;
    
}

.container {
    max-width: 580px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    padding: 8px;
    background-color: #2a607c;
    margin-top: 0;
  
}

h1 {
    display: inline-block;
    font-size: 18px;
}

.seo {
    color: #d9dcd6;
} 
/* Styles for div elements inside the header */
.header div {
    float: right;
    font-size: 9px;
}

ul {
    list-style-type: none;
}

/* Styles for list items */
li {
    display: inline-block;
    margin-left: 5px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 8px;
    line-height: 13px;
}

.hero {
    width: 100%;
    height: 30vh;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    margin-right: 0 !important;
}

.float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-left: 10px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 10px;
}

.benefits {
    margin-right: 10px;
    padding: 5px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

h3 {
    font-size: 10px;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 10px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 50px;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 10px;
    padding: 10px;
    height: 150px;
    max-width: 400px;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 100px;
}

h2 {
    font-size: 17px;
    margin-bottom: 8px;
}

.footer {
    padding: 30px;
    clear: both;
    color: black;
    text-align: center;
}

main,
.side-section {
    display: inline;
}

