/* Reset styles for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body styles */
body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 1050px;
}

/* Paragraph styles */
p {
    font-size: 15px;
    line-height: 1.5em;
}

/* Header styles */
.header {
    padding: 10px;
    background-color: #2a607c;
    color: #ffffff;
}

/* H1 styles */
h1 {
    display: inline-block;
    font-size: 24px;
}
/* Header SEO styles */
.seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 7px;
    margin-right: 10px;
    float: right;
    
    font-size: 15px;
}

/* Header ul styles */
ul {
    list-style-type: none;
}

/* Unordered list styles */
li {
    display: inline-block;
    margin-left: 12px;
}

/* Header Anchor (link) styles */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Hero background section styles */
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 12px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* main images  */
.float-left {
    float: left;
    margin-right: 10px;
}
/* main images */
.float-right {
    float: right;
    margin-left: 10px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 10px;
}

/* side section */
.benefits {
    margin-right: 10px;
    padding: 10px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    padding-bottom: 20px;
}

.benefits p {
    margin-bottom: 15px;
    margin-top: 0px;
    color: #ffffff;
    font-size: 12px;
}

h3 {
    margin-bottom: 5px;
    text-align: center;
    color: #ffffff;
}

/* Benefits image styles */
.benefits img {
    display: block;
    margin: 10px auto;
    margin-top: 5px;
    margin-bottom: 1px;
    max-width: 80px;
    padding-bottom: 30px;
}

.content div {
    margin-bottom: 20px;
    padding: 40px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.content img {
    max-height: 150px;
}


.content h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.footer {
    padding: 15px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

